[Unit]
Description=calor thermometer service
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/var/calor
# Fix the paths below:
ExecStart=/usr/local/bin/calor
Restart=on-failure
User=calor

[Install]
WantedBy=multi-user.target